<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
<title>${site_name}</title>
<link rel="stylesheet" type="text/css" href="${media_url}exception.css" />
</head>

<body>
	<div class="content_404">
		<div class="content_404-head">
			<a href="/"><img style="margin-top: 8px;"
				src="${media_url}dota2logo.png"
				alt="logo" /></a>
			<div class="content_404-menu">
				<span class="content_404-menu-sn"><a href="/">Home</a></span>
			</div>

			<div class="content_404-content">
				<img src="" />
				<div class="content_404-content-text">
					<h1>Steam temporary unavailable</h1>
					<span>Please try again later.<br /></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
